{% extends "detector/base.html" %}
{% block title %}警察届出物品一覧{% endblock %}
{% block content %}
{% if police_items %}
<h2>警察届出物品一覧</h2>

<!-- 届出物品の一覧表示 -->
<div class="card col-md-18 dt-image-content">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>写真</th>
                <th>品目名</th>
                <th>色</th>
                <th>特徴</th>
                <th>登録日</th>
                <th>権利主張</th>
                <th>警察届出日</th>
            </tr>
        </thead>
        <tbody>
            {% for item in police_items %}
            <tr>
                <td>
                    <a href="{{ url_for('search_items.edit_items', itemid=item.item_id) }}">{{ item.item_id }}（編集）</a>
                </td>
                <td class="table-image">
                    <a href="{{ url_for('search_items.image_file', filename=item.item_image_path) }}"
                        target="_blank"><img
                            src="{{ url_for('search_items.image_file', filename=item.item_image_path) }}" alt="拾得物の画像"
                            width="190" height="130"></a>
                </td>
                <td>{{ item.item_name }}</td>
                <td>{{ item.item_color }}</td>
                <td>{{ item.item_feature }}</td>
                <td>{{ item.item_date }}</td>
                <td>{{ item.item_right }}</td>
                <td>{{ item.item_police }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p>検索日程の警察への届出はありません。</p>
{% endif %}

<hr />
<a class="btn btn-primary" href="{{ url_for('detector.index') }}" role="button">トップページへ</a>
{% endblock %}