{% extends "detector/base.html" %}
{% block title %}拾得物検索{% endblock %}

{% block content %}
<h2>拾得物検索</h2>
<p>絞り込み条件を入力してください。</p>

<div class="mb-3">
    <label for="exampleFormSelect1" class="form-label">品目</label>
    <select class="form-select" id="exampleFormSelect1">
        <option selected>この選択メニューを開く</option>
        <option value="apple">リンゴ</option>
        <option value="orange">ミカン</option>
        <option value="peach">モモ</option>
    </select>
</div>

<div class="mb-3">
    <label for="exampleFormSelect1" class="form-label">選択の例</label>
    <select class="form-select" id="exampleFormSelect1">
        <option selected>この選択メニューを開く</option>
        <option value="1">その1</option>
        <option value="2">その2</option>
        <option value="3">その3</option>
    </select>
</div>

<input type="text" class="form-control" id="date_sample">
{% endblock %}